*{color: #ffffff; font-family: sans-serif;}
        header, footer, div.menu, div.aside_left, div.aside_left1, div.aside_right, div.main, div.section
        {
            margin: 10px;
            padding-left: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        header
        {
            background-color: #923158;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        footer, div.menu
        {
            background-color: #6E1237;
        }
        div.aside_left, div.aside_left1, div.aside_right, div.main
        {
            background-color: #B65B80;
            padding-right: 40px;
        }
        div.section
        {
            background-color: #DB92AF;
        }
        div.aside_left, div.aside_left1
        {
            float: left;
            height: 50px;
            width: 150px;
        }
        div.aside_left
        {
            margin-top: 0px;
        }
        div.aside_left1
        {
            margin-left: -240px;
            margin-top: 80px;
        }
        div.main
        {
            margin-left: 250px;
            margin-right: 115px;
            padding-top: 20px;
        }
        div.section
        {
            padding-bottom: 80px;
            margin-left: 0px;
        }
        div.aside_right
        {
            float: right;
            margin-top: 0px;
            writing-mode:vertical-lr;
            text-orientation:upright;
        }